.row.content {
    height: 750px
}

.sidenav {
    background-color: #F7DBD7;
    background-image: url("../images/pink_rice.png") ; 
    height: 100%;
   font-family: 'Philosopher', sans-serif;
   margin-top: 0rem; 
}
nav{
    background-image: url("../images/pink_rice.png") ;  
}

footer {
    background-color:#F7DBD7;
    background-image: url("../images/pink_rice.png") ;
    padding: 15px;
   font-family: 'Philosopher', sans-serif;
}

body{
    background-color: #EEEEEE ;    
   font-family: 'Philosopher', sans-serif;
    background-image: url("../images/gray.png") ;
}
h5{
    font-size: 24px;
    font: bold;
}
p{
    font-size: 18px;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}
